<!DOCTYPE html>
<html>
<head>
    <title>2008</title>
    <meta charset="utf-8">
    <style>
        :root {
            font-family: '宋体', 'Tahoma', sans-serif;
        }
    </style>
</head>
<body>
    <%- body %>
</body>
</html>